<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 <display-name>nutricao_web</display-name>
 <context-param>
  <param-name>primefaces.THEME</param-name>
  <param-value>bootstrap</param-value>
 </context-param>
 <!--  login filter -->
 <filter>
  <filter-name>LoginPortalFilter</filter-name>
  <filter-class>br.com.nutricao.filter.LoginPortalFilter</filter-class>
 </filter>
 <filter>
  <filter-name>LoginSiteFilter</filter-name>
  <filter-class>br.com.nutricao.filter.LoginSiteFilter</filter-class>
 </filter>
 <filter>
  <filter-name>LoginIndexFilter</filter-name>
  <filter-class>br.com.nutricao.filter.LoginIndexFilter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>LoginPortalFilter</filter-name>
  <url-pattern>/portal/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>LoginSiteFilter</filter-name>
  <url-pattern>/site/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>LoginIndexFilter</filter-name>
  <url-pattern>/index.xhtml</url-pattern>
 </filter-mapping>
 <servlet>
  <servlet-name>Faces Servlet</servlet-name>
  <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet-mapping>
  <servlet-name>Faces Servlet</servlet-name>
  <url-pattern>*.xhtml</url-pattern>
 </servlet-mapping>
</web-app>
